@import "tailwindcss";

:root {
  --background: #faf8f5;
  --foreground: #2c2c2c;

  --cream: #faf8f5;
  --paper: #ffffff;
  --ink: #2f4a27;
  --ink-soft: #5c6b5b;
  --sand: #efeae2;
  --wood: #97410e;
  --wood-dark: #712403;

  --lime: #8bbf61;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-cream: var(--cream);
  --color-paper: var(--paper);
  --color-ink: var(--ink);
  --color-ink-soft: var(--ink-soft);
  --color-sand: var(--sand);
  --color-wood: var(--wood);
  --color-wood-dark: var(--wood-dark);

  --color-lime: var(--lime);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-playfair);
  --font-script: var(--font-parisienne);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
